<!DOCTYPE html>
<html lang="en">

<head>
  <title>US Timezone Display</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <h1>US Time Zone Display</h1>
  <div style="text-align:center">
    <button (click)="gotClicked('PST')" class="box" [ngClass]="{'boxOn': selected == 'PST'}">PST</button>
    <button (click)="gotClicked('MST')" class="box" [ngClass]="{'boxOn': selected == 'MST'}">MST</button>
    <button (click)="gotClicked('CST')" class="box" [ngClass]="{'boxOn': selected == 'CST'}">CST</button>
    <button (click)="gotClicked('EST')" class="box" [ngClass]="{'boxOn': selected == 'EST'}">EST</button>
    <button (click)="gotClicked('CLEAR')" class="box">Clear</button>
  </div>
  <h2>{{time | date:'medium'}}</h2>
</body>

</html>